<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PartesTrabajadores.Properties.Settings.Promowork_dataConnection"
            connectionString="Data Source=promowork.noip.me;Initial Catalog=Promowork_data;Persist Security Info=True;User ID=sa;Password=david-25"
            providerName="System.Data.SqlClient" />
        <add name="PartesTrabajadores.Properties.Settings.masterConnectionString"
            connectionString="Data Source=promowork.noip.me;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=david-25"
            providerName="System.Data.SqlClient" />
        <add name="PartesTrabajadores.Properties.Settings.Promowork_dataConnectionString"
            connectionString="Data Source=promowork.noip.me;Initial Catalog=Promowork_data;User ID=sa;Password=david-25"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <runtime>
      <loadFromRemoteSources enabled="true"/>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
